.espacio{
	padding: 3%;

}

h1
{
	text-align: center;
	color: #3cd1ef;
}

img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  padding: 30px 20px;
}

*{
	font-family: 'Londrina Shadow', cursive;
	font-family: 'Poller One', cursive;
	color: #3cd1ef;
}

body{
	background-color: #3f2f59;
}